body{
    background-color: cornflowerblue;
}
maindiv{
    padding: 20px;
    background-color: lightblue;
}
.alphacell{
    background-color: orange;
    padding: 0px;
    border: 1px solid brown;
   /* */
    height: 60px;
    width: 60px;
    transition: 0s;
    transition-property: background-color;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.alphacell:hover{
    background-color: blanchedalmond;
}
#alphaCell{
    border: 1px solid seagreen;
    padding: 0px;
    width: 50%;
    border-right-width: 200px;
    border-left-width: 200px;
}
#gallowCell{
    border: 5px solid salmon;
    background-color: bisque;
}
#alphabetTable{

    border: 3px solid white;
    width: 100%;
}
#gallowTable{

    border: 3px solid black;
    width: 100%;
    height: 300px;
    
}
#mainTable{
    border: 1px solid yellow;
    width: 100%;
}
.trow{
    border: 5px solid red;
    width: 60%;

}
#thcell{
    border: 2px solid orange;
    height: 20px;
}

.tcell{
    border: 2px solid rgb(211, 30, 30);
    height: 100px;
}
#td0_6{
    row-s

}
